@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --background-color: #f8be89; */
    /* --background-color: #faebdd; */
    /* --background-color: #fef8f1; */
    --background-color: theme(colors.slate.300);
}

@media (prefers-color-scheme: dark) {
}

body {
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        scrollbar-width: none;
    }

    .animate-100 {
        animation-duration: 100ms;
    }
    .animate-150 {
        animation-duration: 150ms;
    }
    .animate-200 {
        animation-duration: 200ms;
    }
    .animate-250 {
        animation-duration: 250ms;
    }
    .animate-reverse {
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }
}

@import "../styles/animations.css";
@import "../styles/HuddleTile.css";
