@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --background-color: #f8be89; */
    /* --background-color: #faebdd; */
    /* --background-color: #fef8f1; */
    --background-color: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
}

body {
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        scrollbar-width: none;
    }

    .animate-100 {
        animation-duration: 100ms;
    }
    .animate-150 {
        animation-duration: 150ms;
    }
    .animate-200 {
        animation-duration: 200ms;
    }
    .animate-250 {
        animation-duration: 250ms;
    }
    .animate-reverse {
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }

    .themed {
        --50: theme(colors.slate.50);
        --100: theme(colors.slate.100);
        --200: theme(colors.slate.200);
        --300: theme(colors.slate.500);
        --400: theme(colors.slate.400);
        --500: theme(colors.slate.500);
        --600: theme(colors.slate.600);
        --700: theme(colors.slate.700);
        --800: theme(colors.slate.800);
        --900: theme(colors.slate.900);
    }

    .themed-darker {
        --50: theme(colors.slate.100);
        --100: theme(colors.slate.200);
        --200: theme(colors.slate.300);
        --300: theme(colors.slate.400);
        --400: theme(colors.slate.500);
        --500: theme(colors.slate.700);
        --600: theme(colors.slate.700);
        --700: theme(colors.slate.800);
        --800: theme(colors.slate.900);
        --900: theme(colors.slate.950);
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .before-bg {
        content: "";
        position: relative;
        @apply before:absolute before:top-[50%] before:left-[50%] before:translate-x-[-50%] before:translate-y-[-50%]  before:h-[calc(100%+.75rem)] before:w-[calc(100%+1rem)];
        @apply before:bg-[var(--500)] before:opacity-50 before:rounded-md;
        @apply before:pointer-events-none;
        @apply before:border-2 before:border-transparent [&:has(:focus)]:before:border-white;
        @apply [&_>_input]:z-[1];
    }
}

@import "../styles/animations.css";
@import "../styles/HuddleTile.css";
